<div class="contents row" >
  <% @tweets.each do |tweet| %>
    <p><%= tweet.text %></p>
  <% end %>
</div>

<<!DOCTYPE html>
<html>
<head>
	<title>shimabukuro</title>
</head>
<body>

	<p><<strong>shimabukuro</strong>yuki</p>
	<a href="mailto:joe@example.com?subject=feedback" "email me">email me</a>

</body>
</html>